PORT=5000
NODE_ENV=development
JWT_SECRET=trendsprout_super_secret_jwt_key_2026
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/trendsprout?retryWrites=true&w=majority

# Python Computer Vision Microservice (Background removal & Visual Search)
PYTHON_AI_URL=http://127.0.0.1:8000

# Google Gemini AI Key (Get free from https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=

# Stripe Payment Gateway (Get free test keys from https://dashboard.stripe.com/test/apikeys)
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Cloud Media Storage (Cloudinary - https://cloudinary.com)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
